<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ieecloud viewer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	</head>
	<body>

    <style>

        .viewer {
          position: relative;
          margin-top: 50px;
          height: 800px;
          width: 1500px;
          background-color: #fff;
        }

    </style>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <div class="viewer">
        <button id="loadModel" class="btn">Load Model</button>
        <button id="showRulerBtn" class="btn">Ruler</button>
        <button id="showProtractorVBtn" class="btn">Protractor V</button>
        <button id="showProtractorHBtn" class="btn">Protractor H</button>
        <button id="setSearchNearestModeOctreeBtn" class="btn">Search Nearest Mode Octree</button>
        <button id="setSearchNearestModeSimpleBtn" class="btn">Search Nearest Mode Simple</button>
        <input id="modeInput" />
        <button id="setModeBtn" class="btn">Set Mode</button>
        <div id="viewer" class = "viewer">
        </div>
    </div>


    <script>

         $("#viewer").ieecloudEditor({
            textureUrl: "",
            mode: "3d_point",
            resultDigits: 3,
            drawResults: false,
            gridVisible: true,
            resultColor:"white",
            backgroundColor:"#d4d4d4",
            resultTextColor:"white",
            id: "1",
            onSelect3dPoint: function (point) {
            }
        });

        $("#showRulerBtn").click(function(){
             $("#viewer").ieecloudEditor('showRuler', true);
        });

        $("#showProtractorVBtn").click(function(){
             $("#viewer").ieecloudEditor('showVProtractor', true);
        });

        $("#showProtractorHBtn").click(function(){
             $("#viewer").ieecloudEditor('showHProtractor', true);
        });

        $("#setModeBtn").click(function(){
             $("#viewer").ieecloudEditor('setMode', $("#modeInput").val());
        });

        $("#setSearchNearestModeOctreeBtn").click(function(){
             $("#viewer").ieecloudEditor('toggleSearchNearestMode', true);
        });

        $("#setSearchNearestModeSimpleBtn").click(function(){
             $("#viewer").ieecloudEditor('toggleSearchNearestMode', false);
        });

        $("#loadModel").click(function(){
             $.getJSON("../resources/results.json", function(json) {
                 $("#viewer").ieecloudEditor('reloadModel', json);
             });
        });



    </script>

	</body>
</html>
