<!DOCTYPE html>
<html lang="en">
<head>
    <title>ieecloud viewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
</head>
<body>

<style>

    .viewer {
        position: relative;
        margin-top: 50px;
        height: 800px;
        width: 1500px;
        background-color: #fff;
    }

</style>

<!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script>
<% }); %>

<div class="viewer">
    <button id="loadModel" class="btn">Load Model</button>
    <button id="removeModel" class="btn">Remove Model</button>
    <button id="showRulerBtn" class="btn">Ruler</button>
    <button id="showProtractorVBtn" class="btn">Protractor V</button>
    <button id="showProtractorHBtn" class="btn">Protractor H</button>
    <button id="setSearchNearestModeOctreeBtn" class="btn">Search Nearest Mode Octree</button>
    <button id="setSearchNearestModeSimpleBtn" class="btn">Search Nearest Mode Simple</button>
    <button id="takeScreenShort" class="btn">Take Screen Short</button>
    <button id="returnToImageViewBtn" class="btn">Return to image view</button>
    <button id="changeImageBtn" class="btn">Change Image</button>
    <input id="modeInput"/>
    <button id="setModeBtn" class="btn">Set Mode</button>
    <button id="attachToNewDiv" class="btn">Attach to new div</button>
    <button id="removeAllResultsBtn" class="btn">Remove Selected Results</button>
    <div id="viewer" class="viewer"></div>
    <div id="viewer2" class="viewer"></div>
</div>




<script>

    $("#viewer").ieecloudEditor({
        textureUrl: "",
        mode: "3d_point",
        resultDigits: 3,
        drawResults: false,
        gridVisible: true,
        detailModelView: true,
        resultColor: "white",
        backgroundColor: "#d4d4d4",
        resultTextColor: "white",
        id: "1",
        onSelect3dPoint: function (point) {
        },
        onPrintScreenDone: function (urlRenderer) {
            console.log(urlRenderer);
        }
    });

    $("#attachToNewDiv").click(function () {
        $("#viewer").ieecloudEditor('removeModel');
        var options = {
            textureUrl: "",
            mode: "3d_point",
            resultDigits: 2,
            drawResults: false,
            gridVisible: false,
            detailModelView: false,
            resultColor: "white",
            backgroundColor: "#d4d4d4",
            resultTextColor: "white",
            id: "1"
        };
        $("#viewer").ieecloudEditor('attachTo', document.getElementById("viewer2"), options);
    });


    $("#removeAllResultsBtn").click(function () {
        $("#viewer").ieecloudEditor('removeSelectedResults');
    });

    $("#showRulerBtn").click(function () {
        $("#viewer").ieecloudEditor('showRuler', true);
    });

    $("#showProtractorVBtn").click(function () {
        $("#viewer").ieecloudEditor('showVProtractor', true);
    });

    $("#showProtractorHBtn").click(function () {
        $("#viewer").ieecloudEditor('showHProtractor', true);
    });

    $("#setModeBtn").click(function () {
        $("#viewer").ieecloudEditor('setMode', $("#modeInput").val());
    });

    $("#setSearchNearestModeOctreeBtn").click(function () {
        $("#viewer").ieecloudEditor('toggleSearchNearestMode', true);
    });

    $("#setSearchNearestModeSimpleBtn").click(function () {
        $("#viewer").ieecloudEditor('toggleSearchNearestMode', false);
    });

    $("#takeScreenShort").click(function () {
        $("#viewer").ieecloudEditor('printScreen', "printScreen.png");
    });

    $("#removeModel").click(function () {
        $("#viewer").ieecloudEditor('removeModel');
    });

    $("#loadModel").click(function () {
        $.getJSON("../resources/results.json", function (json) {
            $("#viewer").ieecloudEditor('reloadModel', json);
        });
    });


</script>

</body>
</html>
